#my-form{
    border-spacing: 20px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}