<!-- Section 9, Homework 8 -->
<div>
    <h3> Homework 8 </h3>
    <followers name="mojombo"></followers>
</div>
<br><br>
<hr>

<!-- Section 9 -->
<h3> Section 9 </h3>
<posts></posts>
<br>
<hr>
<br>

<!-- Section 8 -->
<h3> Section 8 </h3>
<signup-form></signup-form>
<br>
<hr>
<br>

<!-- Homework #6 -->
<h3> Homework #6 </h3>
<my-form></my-form>
<br>
<hr>
<br>

<!-- Homework #5 -->
<h3> Homework #5 </h3>
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>
<br>
<hr>
<br>

<!-- Homework #4 -->
<h3> Homework #4 </h3>
<like
    [likesCount]="tweet.likesCount"
    [isLiked]="tweet.isLiked"></like>
